/* styles.css */
body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    cursor: none; /* Hide the default cursor */
    background: radial-gradient(circle, #000, #111); /* Space-themed background */
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    z-index: 1000;
}
#main-content {
    display: none;
}
.playcontainer {
    display: flex;
    justify-content: center; /* Horizontally centers the image */
    align-items: center;     /* Vertically centers the image */
    width: 100%;             /* Adjust as needed */
    height: 100%;            /* Adjust as needed */
}


.imgcontainer {
    display: flex;
    justify-content: center; /* Horizontally centers the image */
    align-items: center;     /* Vertically centers the image */
    width: 100%;             /* Adjust as needed */
    height: 100%;            /* Adjust as needed */
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Sparkle effect container */
#sparkle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Allow clicks to pass through */
    overflow: hidden;
    z-index: 1; /* Ensure it overlays content */
}


/* Sparkle effect */
.sparkle {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, #ffffff, rgba(255, 255, 255, 0));
    opacity: 0;
    pointer-events: none;
    z-index: 2; /* Ensure sparkle is above the container */
    transition: transform 0.5s, opacity 0.5s; /* Smooth transition for animation */
}


/* Control Panel */
#control-panel {
    opacity: 0;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.151);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    z-index: 2; /* Ensure it is above other content */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#control-panel label {
    margin-bottom: 10px;
}

.button {
    background: #808080;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 10px; /* Add margin to separate buttons */
    width: 130px;
}

.button:hover {
    background: #666;
}

.button:active,
.button:focus {
    background: #a5a5a5;
}

.button.inactive {
    background: #333; /* Dimmer background */
}

.button.inactive:hover {
    background: #444;
}

.button.inactive:active,
.button.inactive:focus {
    background: #555;
}

#interval-display {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}
